@font-face {
  font-family: mySFFont;
  src: url(SFFont.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: mySFFont;
  background: whitesmoke;
}

.themeClr {
  color: #1824ef;
}

.themeBgClr {
  background-color: #1824ef;
}

.p-10 {
  padding: 10%;
}

.p-15-10 {
  padding: 18% 10%;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-item {
  padding: 0 20px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
  cursor: pointer;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.homeCoverImg {
  background-image: url('./imgs/homeBack.png');
  background-position: right;
  background-repeat: no-repeat;
  margin-top: -12%;
}

.nav-link {
  color: white !important;
  font-weight: bold;
}

.homeTitle {
  margin-top: 5rem;
  font-size: 115px;
  font-weight: bold;
  background: rgb(43, 53, 226);
  background: linear-gradient(
    90deg,
    rgba(43, 53, 226, 1) 23%,
    rgba(5, 13, 47, 1) 46%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -20px;
  /* color: #212b56; */
}

.subTitle {
  font-size: 20px;
  text-align: right;
  width: 50%;
  color: #0b4daf;
  border-right: 5px solid;
  padding-right: 10px;
  font-weight: bolder;
  background: rgb(43, 53, 226);
  background: linear-gradient(
    90deg,
    rgba(43, 53, 226, 1) 23%,
    rgba(5, 13, 47, 1) 46%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: #212b56; */
}

blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.navbarBtn {
  background: white;
  color: blue !important;
  padding: 8px 26px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  vertical-align: -webkit-baseline-middle;
}

.video-content {
  box-shadow: 10px 5px 200px rgb(43, 53, 226) !important;
}

.footer .navlinks {
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: bolder;
  cursor: pointer;
}

.footer a:hover {
  text-decoration: none;
}

.shadow-lg {
  box-shadow: 10px 5px 200px rgb(43, 53, 226) !important;
}

.service-card {
  width: 25%;
  min-height: 290px;
  text-align: center;
  padding: 1rem;
  border: 0;
  overflow: auto;
  cursor: default;
}

.metamoversImg {
  height: 80px;
  width: 80px;
  background: #072884;
  border-radius: 10px;
  padding: 10px;
}

.meetTheTeamImg {
  height: 160px;
  width: 160px;
  border-radius: 10px;
  padding: 10px;
}

.animate-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  background: transparent;
  border: 3px solid transparent;
}

.animate-border:hover::before {
  animation: animate 0.4s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #1824ef;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: #1824ef;
    border-right-color: #1824ef;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: #1824ef;
    border-right-color: #1824ef;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.animate-border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: transparent;
  border: 3px solid transparent;
}

.animate-border:hover::after {
  animation: animates 0.4s linear forwards;
}

@keyframes animates {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #1824ef;
  }

  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #1824ef;
    border-left-color: #1824ef;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #1824ef;
    border-left-color: #1824ef;
  }
}

.border-bottom-1 {
  border-bottom: 1px solid gainsboro;
}

.teamModalTrigger {
  padding: 10px 30px;
  border-radius: 25px;
}

.socialBtn {
  padding: 5px 10px;
  font-size: 20px;
  /* margin: 5px;
  background: gainsboro;
  border-radius: 50%; */
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  max-height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  background: whitesmoke;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.teamInfoBox {
  width: 25%;
  min-height: 290px;
  text-align: center;
  padding: 1rem;
  border-radius: 15px;
  border: 0;
  overflow: auto;
  cursor: default;
  background-color: whitesmoke;
  border: 1px solid #265ac1;
  position: relative;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.teamInfoBox::after {
  content: '';
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.teamInfoBox:hover {
  -webkit-transform: scale(1.07, 1.07);
  transform: scale(1.07, 1.07);
}

.metamoversSectionBg {
  background: rgb(20, 82, 214);
  background: linear-gradient(
    90deg,
    rgba(20, 82, 214, 1) 0%,
    rgba(29, 195, 190, 1) 100%
  );
}

.theTeamSectionBg {
  background: rgb(20, 82, 214);
  background: linear-gradient(
    90deg,
    rgba(29, 195, 190, 1) 0% rgba(20, 82, 214, 1) 100%
  );
}

.teamInfoBox:hover::after {
  opacity: 1;
}

.metamoversVideo {
  width: 100%;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.metamoversVideo::after {
  content: '';
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.metamoversVideoModal {
  width: 400px;
}

.metaMoversVideo {
  width: 100%;
}

.metamoversVideo:hover {
  -webkit-transform: scale(1.09, 1.09);
  transform: scale(1.09, 1.09);
}

.metamoversVideo:hover::after {
  opacity: 1;
}

.metamoversSubTitle {
  border-left: 5px solid white;
  padding-left: 10px;
  line-height: 23px;
}

.progress-container {
  width: 1%;
  height: 350px;
  background: #ccc;
}

.progress-bar {
  height: 5px;
  background: rgb(43, 53, 226);
  background: linear-gradient(90deg, rgb(43 53 226 / 56%) 23%, #065b9c 46%);
}

.timeline {
  position: relative;
  top: -350px;
  left: -12px;
}

.timeline li {
  padding-left: 15px;
}

.roadMapSectionStyle {
  position: relative;
  top: 0px;
  height: 85%;
}

.timeline ol {
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;
}

.timeline ol li {
  margin: 0 0 0.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
  height: 100px;
}

.timeline ol li::before {
  content: counter(my-awesome-counter);
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  background: gainsboro;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 #999;
}
